.checkboxcontainer {
  
    color: white;
    padding: 10px !important;

}

.waveheader {
     color: #20dfb5 !important;
     text-align: top !important;
     font-size: 30px !important;
    }
    .radiocomp {
        color: white !important;
        margin-left: 10px !important;
        padding: 0px !important;
    }
    .radio-comp {
        margin-left: 20px !important;
        margin-right: 20px !important;
        padding: 0px !important;
    }

 