.black-key {
    width: 50%;
        display: grid;
        grid-template-columns: repeat(2, 8rem);
        grid-gap:2.15rem;
        font-family: Arial, Helvetica, sans-serif;
        color: white !important;
}

.black-key2 {
    width: 50%;
        display: grid;
        grid-template-columns: repeat(3, 8rem);
        grid-gap: 2.15rem;
        font-family: Arial, Helvetica, sans-serif;
        color: white !important;
}

.Bk-KeyDiv {
    float:left;
    z-index: 2;
    position: absolute;
    top:1rem;
    margin-left: 5rem;
}

.Bk-KeyDiv2 {
    float:right;
    z-index: 1;
    position: absolute;
    top: 1rem;
    margin-left: 33rem;
}

.b-key {
    border: solid rgb(100, 240, 196);
    border-radius: 15px;
    width:9rem;
    height: 22rem;
    background-color: black;
    box-shadow: 5px 7px 7px #6a04c2;
}
