@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.btn {
    background-image: linear-gradient( #97fdda 0%, #20dfb5 50%);
    width: 100px !important;
    height:50px;
    color:black;
    border-radius: 25px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
