body {
    height: 110vh;
    background: radial-gradient(#2537d8, #00010a);
    background-repeat: no-repeat;
    overflow: hidden;
}

.synth {
    padding: 2rem;
}

.keyboard {
    padding: 2rem;
    position: absolute;
    z-index: 1;

}

.presets {
    float: left;
}

.slider {
    float: right;
}

.logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(100, 240, 196);
}

.presetBtn {
    margin-bottom: 25px;
}

.MuiContainer-root {
    padding-top: 25px;
}