body {
    min-height: 100vh;
    min-width: 100vw;
    background: radial-gradient(#2537d8, #00010a);
}

.synth {
    padding: 2rem;
}

.keyboard {
    padding: 2rem;
    position: absolute;
    z-index: 1;

}

.presets {
    float: left;
}


.logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(100, 240, 196);
}

.presetBtn {
    margin-bottom: 25px;
}

.MuiContainer-root {
    padding-top: 25px;
}

@media screen and (min-width:1024px) {
    body {
        min-height: 100vh;
        min-width: 100vw;
        background: radial-gradient(#2537d8, #00010a);
       
    }
    
    .synth {
        padding: 2rem;
    }
    
    .keyboard {
        padding: 2rem;
        position: absolute;
        z-index: 1;
    
    }
    
    .presets {
        float: left;
    }
    
    
    .logo {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(100, 240, 196);
    }
    
    .presetBtn {
        margin-bottom: 25px;
    }
    
    .MuiContainer-root {
        padding-top: 25px;
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    body {
      /* Rotate the content container */
      transform: rotate(-90deg);
      transform-origin: left top;
      /* Set content width to viewport height */
      min-width: 100vh;
      /* Set content height to viewport width */
      min-height: 100vw;
      position: absolute;
      top: 100%;
    
    }

    html {
        background: radial-gradient(#2537d8, #00010a);
    }
  }

@media screen and (max-width: 1200px) and (orientation: portrait) {

body {
    min-height: 100vw;
    min-width: 100vh;
    background: radial-gradient(#2537d8, #00010a);
   
}

.synth {
    padding: 2rem;
}

.keyboard {
    padding: 2rem;
    position: absolute;
    z-index: 1;

}

.presets {
    float: left;
}

.slider {
    float: right;
}

.logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(100, 240, 196);
}

.presetBtn {
    margin-bottom: 25px;
}

.MuiContainer-root {
    padding-top: 25px;
}

  }

  