.dd-wrapper {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    width: 300px;
    height:50px;
    border: solid rgb(36, 226, 176);
    border-width: 2px;
    margin-bottom: 25px;
    margin-right: 50px;
}

.dd-header_title p {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    color:rgb(36, 226, 176);
}
.preset-btn {

    height: 50px;
    width: 250px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-image: linear-gradient( #97fdda 0%, #20dfb5 50%);
    align-items: center;
    text-align: left;
    margin-bottom: 15px;
    margin-left: -14px;
    margin-right: auto;
    color: black;
    padding-left: 20px;
}

.dd-items {
    height: 215px;
    text-decoration: none;
    list-style: none;
    margin-right: 0px;
    margin-top: -10px;
    position: relative;
    z-index: 10;
    background-color: black !important;
    padding-top: 20px;
}

.dd-list-item {
    text-align: left;
}
