.slider-div {
    width: 40%;
  display:inline-block;
  margin-right: 2rem;

}
.slider {
    width: 100%;
    height: 25px;
    outline: 5px; 
     /* Set transparency (for mouse-over effects on hover) */
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; 
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    
    appearance: round;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .slider-name {
    font-size: 30px;
    color: rgb(36, 226, 176);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }