@media screen and (min-width:500px ) {
.slider-container {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-gap: 5rem;
}

@media screen and (min-width:993px ) {
    .slider-container {
        display: grid;
        grid-template-columns: repeat(2, 100px);
        grid-gap: 6rem;
        border-style: outset !;
        margin-top: -20px !important;
    }
}
