.logo {
    font-size: 5rem;
    float: left;
}

.btn {
    float: right;
    left: 80%;
    margin-top: 15px;
}

.head {
    margin: 20px 0 50px 0;
}

.MuiTypography-h3 {
    font-size: 5rem;
}

.presetBtn {
    margin-left: 50%;
}
