.keyboard-row {
    margin-left: 8%;
    margin-top: 40px;
    width: 150% !important;
}

.bl-key {
    border: solid rgb(100, 240, 196);
    border-radius: 15px;
    width:6rem;
    height: 16rem;
    background-color: black;
    box-shadow: 5px 7px 7px #6a04c2;
}


.wh-key {
    border: solid rgb(100, 240, 196);
    background-color: white;
    border-radius: 15px;
    width:6rem !important;
    height: 26rem;
    box-shadow: 5px 7px 7px #327ff2;
}

.wh-key:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(134, 4, 185);
    /* Lowering the shadow */
}

.wh-note {
    margin-top: 36.25rem;
    padding-left: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.bl-key:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(134, 4, 185);
    /* Lowering the shadow */
}

.bl-note {
    
    padding-left: 11px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.white-key-row {
position:absolute;
z-index: 1;

}

.black-key-row-left {
    position: relative;
    z-index: 5;
    margin-left: 4rem !important;
}

.black-key-row-right {
    position: relative;
    z-index: 5;
    margin-left: 6rem !important;
}

.left-row {
    display: inline-block;
}

.right-row {
    display: inline-block;
}

