.white-key {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(8, 9rem);
    grid-gap: .75rem;
    font-family: Arial, Helvetica, sans-serif;

    margin-top: 75px;
    position: absolute;
    z-index: -1;
    

}

.w-key {
    border: solid rgb(100, 240, 196);
    background-color: white;
    border-radius: 15px;
    width:9rem;
    height: 38rem;
    box-shadow: 5px 7px 7px #327ff2;
}

.w-key:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(134, 4, 185);
    /* Lowering the shadow */
}

.w-note {
    margin-top: 36.25rem;
    padding-left: 12px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}
