.KeyDiv {
position: fixed;
}

.white-key {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 9rem);
    grid-gap: 0rem;
    font-family: Arial, Helvetica, sans-serif;
    top:50%;
    left:50%;
}

.w-key {
    border: solid rgb(100, 240, 196);
    background-color: white;
    border-radius: 15px;
    width:9rem;
    height: 38rem;
    box-shadow: 5px 7px 7px #327ff2;
}
